* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: var(--font-text);
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-text);
    scroll-behavior: smooth;
}

body.lock {
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 24px;
    margin: auto;
}

@media (min-width: 1200px) {
    .container {
        padding: 0;
    }
}