<section class="brands">
    <div class="brands__content container">
        <p class="brands__content-title title title--wht">Empowering innovative brands</p>
        <div class="brands__content-animated-carousel">
            <div class="brands__animated-carousel-slides"></div>
            <button class="brands__animated-carousel-btn-prev carousel-btn carousel-btn--prev">
                <img class="carousel-btn-icon" src="image/navigation-icon/left-arrow-white.png" alt="Left arrow icon">
            </button>
            <button class="brands__animated-carousel-btn-next carousel-btn carousel-btn--next">
                <img class="carousel-btn-icon" src="image/navigation-icon/right-arrow-white.png" alt="Right arrow icon">
            </button>
        </div>
    </div>
</section>