<section class="contact-us">
  <h2 class="contact-us__title">Contact Us</h2>
  <p class="contact-us__subtitle">
    Most calendars are designed for teams. Slate is designed for freelancers
  </p>
  <form class="form contact-us__form" action="" method="post">
    <input
      class="form__input contact-us__input"
      type="text"
      placeholder="Your Name"
      name="name"
    />
    <input
      class="form__input contact-us__input"
      type="text"
      placeholder="Your Email"
      name="email"
    />
    <textarea
      class="form__textarea contact-us__textarea"
      name=""
      id=""
      cols="10"
      rows="5"
      placeholder="Your Message"
    ></textarea>
    <button class="button-primary contact-us__button" type="submit">
      Send
    </button>
  </form>
  <div class="contact-details">
    <ul class="contact-details__list">
      <li class="contact-details__item">
        <img
          class="contact-details__icon"
          src="image/contact-us/contact-us-location.png"
          alt="Location icon"
        />
        <p class="contact-details__title">
          6386 Spring St undefined Anchorage, Georgia 12473 United States
        </p>
      </li>
      <li class="contact-details__item">
        <img
          class="contact-details__icon"
          src="image/contact-us/contact-us-mobile.png"
          alt="Mobile icon"
        />
        <p class="contact-details__title">(843) 555-0130</p>
      </li>
      <li class="contact-details__item">
        <img
          class="contact-details__icon"
          src="image/contact-us/contact-us-email.png"
          alt="Mobile icon"
        />
        <p class="contact-details__title">willie.jennings@example.com</p>
      </li>
    </ul>
  </div>
</section>
