<section class="contact-us">
  <h2 class="contact-us__title title">Contact Us</h2>
  <p class="contact-us__subtitle subtitle">
    Most calendars are designed for teams. Slate is designed for freelancers
  </p>
  <form class="form contact-us__form" action="" method="post">
    <input
      class="form__input contact-us__input"
      type="text"
      placeholder="Your Name"
      name="name"
    />
    <input
      class="form__input contact-us__input"
      type="text"
      placeholder="Your Email"
      name="email"
    />
    <textarea
      class="form__textarea contact-us__textarea"
      name=""
      id=""
      cols="10"
      rows="5"
      placeholder="Your Message"
    ></textarea>
    <button class="button-primary contact-us__button" type="submit">
      Send
    </button>
  </form>
  <div class="contact-us__details">
    <ul class="contact-us__details-list">
      <li class="contact-us__details-item">
        <img
          class="contact-us__details-icon"
          src="image/contact-us/contact-us-blue-location.png"
          alt="Location icon"
        />
        <address class="contact-us__details-title">
          6386 Spring St undefined Anchorage, Georgia 12473 United States
        </address>
      </li>
      <li class="contact-us__details-item">
        <img
          class="contact-us__details-icon"
          src="image/contact-us/contact-us-blue-mobile.png"
          alt="Mobile icon"
        />
        <a href="tel:8435550130" class="contact-us__details-title"
          >(843) 555-0130</a
        >
      </li>
      <li class="contact-us__details-item">
        <img
          class="contact-us__details-icon"
          src="image/contact-us/contact-us-blue-email.png"
          alt="Email icon"
        />
        <a
          href="mailto:willie.jennings@example.com"
          class="contact-us__details-title"
          >willie.jennings@example.com</a
        >
      </li>
    </ul>
  </div>
  <iframe
    class="contact-us__details-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8556.698186652504!2d-122.42793491420069!3d37.77316069259732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809f8fe95299%3A0x7c119fcb96b3281c!2sBoba%20Guys%20Hayes%20Valley!5e0!3m2!1sru!2sua!4v1683725525240!5m2!1sru!2sua"
    width="516"
    height="323"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <div class="social social--secondary-blue contact-us__social">
    <ul class="social__list">
      <li class="social__item">
        <a href="#" class="social__link">
          <img
            class="social__icon"
            src="image/social-icon/social-icon-blue-twitter.png"
            alt="Twitter Logo"
          />
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <img
            class="social__icon"
            src="image/social-icon/social-icon-blue-facebook.png"
            alt="Facebook Logo"
          />
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <img
            class="social__icon"
            src="image/social-icon/social-icon-blue-linkedin.png"
            alt="Linkedin Logo"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
