<section id="features" class="features container">
  <p class="features__title title">Features</p>
  <p class="features__subtitle subtitle">
    Most calendars are designed for teams.
    <span class="d-none d-lg-block">Slate is designed for freelancers</span>
  </p>
  <a class="features__video d-lg-none" href="https://www.youtube.com/embed/S3izMp_W31g">
    <img src="image/main-video-screen-mobile.svg" alt="Video" />
  </a>
  <div class="features__list">
    <div class="feature features__item">
      <img src="image/features-icon/features-open-type.svg" alt="OpenType features icon" class="feature__image" />
      <h3 class="feature__title text-accent">
        OpenType features Variable fonts
      </h3>
      <p class="feature__subtitle text">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
    <div class="feature features__item">
      <img src="image/features-icon/features-design.svg" alt="Design features icon" class="feature__image" height="46"/>
      <h3 class="feature__title text-accent">Design with real data</h3>
      <p class="feature__subtitle text">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
    <div class="feature features__item">
      <img src="image/features-icon/features-fastest-way.svg" alt="Fastest way features icon" class="feature__image" />
      <h3 class="feature__title text-accent">Fastest way to take action</h3>
      <p class="feature__subtitle text">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
  </div>
  <a class="features__video d-none d-lg-block" href="https://www.youtube.com/embed/S3izMp_W31g">
    <img src="image/main-video-screen-desktop.svg" alt="Video" />
  </a>
</section>