<section class="figjam">
    <div class="figjam__content container">
        <p class="figjam__content-title title">Welcome to <br>FigJam</p>
        <button class="btn btn--primary-accent figjam__content-action">Learn more</button>
    </div>
</section>
<div class="figjam__carousel container">
    <a href="#" class="figjam__carousel-btn-prev carousel-btn carousel-btn--prev">
        <img class="carousel-btn-icon" src="image/navigation-icon/left-arrow.png" alt="Left arrow icon">
    </a>
    <div class="figjam__carousel-slide"></div>
    <a href="#" class="figjam__carousel-btn-next carousel-btn carousel-btn--next">
        <img class="carousel-btn-icon" src="image/navigation-icon/right-arrow.png" alt="Right arrow icon">
    </a>
    <ol class="carousel-indicators">
        <li>
            <label class="carousel-bullet carousel-bullet-1">•</label>
        </li>
        <li>
            <label class="carousel-bullet carousel-bullet-2">•</label>
        </li>
        <li>
            <label class="carousel-bullet carousel-bullet-3">•</label>
        </li>
    </ol>
</div>