<footer class="footer">
  <div class="footer__columns container">
    <div class="footer__column">
      <h3 class="footer__column-title">Pages</h3>
      <ul class="footer__links">
        <li class="footer__link-item">
          <a class="footer__link" href="#">Home</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Product</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Pricing</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Contact</a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <h3 class="footer__column-title">Tomothy</h3>
      <ul class="footer__links">
        <li class="footer__link-item">
          <a class="footer__link" href="#">Eleanor Edwards</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Ted Robertson</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Annette Russell</a>
        </li>
        <li class="footer__link-itemm">
          <a class="footer__link" href="#">Jennie Mckinney</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Gloria Richards</a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <h3 class="footer__column-title">Jane Black</h3>
      <ul class="footer__links">
        <li class="footer__link-item">
          <a class="footer__link" href="#">Philip Jones</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Product</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Colleen Russell</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Marvin Hawkins</a>
        </li>
        <li class="footer__link-item">
          <a class="footer__link" href="#">Bruce Simmmons</a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <ul class="footer__contacts">
        <li class="footer__contacts-item">
          <img class="footer__contacts-icon" src="image/contact-us/contact-us-white-location.png" alt="Location icon" />
          <address class="footer__contacts-details">
            7480 Mockingbird Hill undefined
          </address>
        </li>
        <li class="footer__contacts-item">
          <img class="footer__contacts-icon" src="image/contact-us/contact-us-white-mobile.png" alt="Mobile icon" />
          <a href="tel:2395550108" class="footer__contacts-details">
            (239) 555-0108
          </a>
        </li>
      </ul>
      <div class="social social--primary-white footer__social">
        <ul class="social__list">
          <li class="social__item">
            <a href="#" class="social__link">
              <img class="social__icon" src="image/social-icon/social-icon-white-twitter.png" alt="Twitter Logo" />
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <img class="social__icon" src="image/social-icon/social-icon-white-facebook.png" alt="Facebook Logo" />
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <img class="social__icon" src="image/social-icon/social-icon-white-linkedin.png" alt="Linkedin Logo" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>