<header id="header" class="header top-nav">
  <nav class="header__navigation container">

    <a href="index.html#header" class="header__logo-link">
      <img class="header__logo-icon" src="image/main-logo.svg" alt="Main logo" />
    </a>

    <div class="header__navigation-wrapper">
      <div class="header__navigation-links">
        <a href="index.html#header" class="header__navigation__link">Home</a>
        <a href="index.html#features" class="header__navigation__link">Product</a>
        <a href="index.html#pricing" class="header__navigation__link">Pricing</a>
        <a href="index.html#testimonials" class="header__navigation__link">About</a>
        <a href="index.html#contact-us" class="header__navigation__link">Contact</a>
      </div>

      <div class="header_navigation-social social social__list social--primary-white">
        <a href="https://twitter.com/figma" class="social__link">
          <img class="social__icon" src="image/social-icon/social-icon-white-twitter.svg" alt="Twitter Logo" />
        </a>
        <a href="https://www.facebook.com/figmadesign/?locale=ru_RU" class="social__link">
          <img class="social__icon" src="image/social-icon/social-icon-white-facebook.svg" alt="Facebook Logo" />
        </a>
        <a href="https://www.linkedin.com/company/figma/" class="social__link">
          <img class="social__icon" src="image/social-icon/social-icon-white-linkedin.svg" alt="Linkedin Logo" />
        </a>
      </div>
    </div>

    <div class="social social__list social--primary-white header__social">
      <a href="https://twitter.com/figma" class="social__link">
        <img class="social__icon" src="image/social-icon/social-icon-white-twitter.svg" alt="Twitter Logo" />
      </a>
      <a href="https://www.facebook.com/figmadesign/?locale=ru_RU" class="social__link">
        <img class="social__icon" src="image/social-icon/social-icon-white-facebook.svg" alt="Facebook Logo" />
      </a>
      <a href="https://www.linkedin.com/company/figma/" class="social__link">
        <img class="social__icon" src="image/social-icon/social-icon-white-linkedin.svg" alt="Linkedin Logo" />
      </a>
    </div>

    <div class="header__navigation-hamburger"><span></span></div>
  </nav>
</header>