<header class="header top-nav">
  <nav class="header__nav container">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Product</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Pricing</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">About</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Contact</a>
      </li>
    </ul>

    <a href="#" class="header__logo-link">
      <img
        width="186"
        height="58"
        class="header__logo-icon"
        src="image/logo.png"
        alt="Figma land Logo"
      />
    </a>

    <ul class="header__social-list">
      <li class="header__social-item">
        <a href="#" class="header__social-link">
          <img
            class="header__social-icon"
            src="image/social-icon/social-icon-twitter.png"
            alt="Twitter Logo"
          />
        </a>
      </li>
      <li class="header__social-item">
        <a href="#" class="header__social-link">
          <img
            class="header__social-icon"
            src="image/social-icon/social-icon-facebook.png"
            alt="Facebook Logo"
          />
        </a>
      </li>
      <li class="header__social-item">
        <a href="#" class="header__social-link">
          <img
            class="header__social-icon"
            src="image/social-icon/social-icon-linkedin.png"
            alt="Linkedin Logo"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
