<header class="header top-nav">
  <nav class="header__nav container">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Product</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Pricing</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">About</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">Contact</a>
      </li>
    </ul>

    <a href="#" class="header__logo-link">
      <img class="header__logo-icon" src="image/main-logo.svg" alt="Main logo" />
    </a>

    <button class="header__btn-nav-menu">
      <img class="header__btn-icon" src="image/header-menu-button-icon.svg" alt="Main menu icon" />
    </button>

    <div class="social social--primary-white header__social">
      <ul class="social__list">
        <li class="social__item">
          <a href="#" class="social__link">
            <img class="social__icon" src="image/social-icon/social-icon-white-twitter.png" alt="Twitter Logo" />
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <img class="social__icon" src="image/social-icon/social-icon-white-facebook.png" alt="Facebook Logo" />
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <img class="social__icon" src="image/social-icon/social-icon-white-linkedin.png" alt="Linkedin Logo" />
          </a>
        </li>
      </ul>
    </div>

  </nav>
</header>