<section id="partners" class="partners container">
  <h2 class="partners__title title">Partners</h2>
  <p class="partners__subtitle subtitle">
    Most calendars are designed for teams. Slate is designed for freelancers
  </p>
  <ul class="partners__list">
    <li class="partner partners__item">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-google.svg" alt="Google logo" class="partner__logo" />
    </li>
    <li class="partner partners__item">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-amazon.svg" alt="Amazon logo" class="partner__logo" />
    </li>
    <li class="partner partners__item">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-microsoft.svg" alt="Microsoft logo" class="partner__logo" />
    </li>
    <li class="partner partners__item d-none d-lg-block">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-uber.svg" alt="Uber logo" class="partner__logo" />
    </li>
    <li class="partner partners__item d-none d-lg-block">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-dropbox.svg" alt="Dropbox logo" class="partner__logo" />
    </li>
    <li class="partner partners__item d-none d-lg-block">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-google.svg" alt="Google logo" class="partner__logo" />
    </li>
    <li class="partner partners__item d-none d-lg-block">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-uber.svg" alt="Uber logo" class="partner__logo" />
    </li>
    <li class="partner partners__item d-none d-lg-block">
      <p class="partner__subtitle text">Client Name</p>
      <img src="image/partners-logo/partners-logo-amazon.svg" alt="Amazon logo" class="partner__logo" />
    </li>
  </ul>
  <a href="#" class="btn btn--primary-accent partners__action">Try For Free</a>
</section>