<section class="pricing">
  <h2 class="pricing__title title--wht">Pricing</h2>
  <p class="pricing__subtitle subtitle--wht">
    Most calendars are designed for teams. Slate is designed for freelancers
  </p>
  <ul class="pricing__list">
    <li class="price pricing__item">
      <h3 class="price__title">Free</h3>
      <p class="price__subtitle">Organize across all apps by hand</p>
      <div class="price__container">
        <strong class="price__price">0</strong>
        <span class="price__currency">$</span>
        <span class="price__per-month">Per Month</span>
      </div>
      <ul class="price__features">
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
      </ul>
      <a href="#" class="btn btn--primary price__action">Order Now</a>
    </li>

    <li class="price price--highlight pricing__item">
      <h3 class="price__title">Standard</h3>
      <p class="price__subtitle">Organize across all apps by hand</p>
      <div class="price__container">
        <strong class="price__price">10</strong>
        <span class="price__currency">$</span>
        <span class="price__per-month">Per Month</span>
      </div>
      <ul class="price__features">
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
      </ul>
      <a href="#" class="btn btn--secondary price__action">Order Now</a>
    </li>

    <li class="price pricing__item">
      <h3 class="price__title">Business</h3>
      <p class="price__subtitle">Organize across all apps by hand</p>
      <div class="price__container">
        <strong class="price__price">99</strong>
        <span class="price__currency">$</span>
        <span class="price__per-month">Per Month</span>
      </div>
      <ul class="price__features">
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
        <li class="price__feature">Pricing Feature</li>
      </ul>
      <a href="#" class="btn btn--primary price__action">Order Now</a>
    </li>
  </ul>
</section>
