<section class="pricing">
  <div class="pricing__container container">
    <h2 class="pricing__title title title--wht">Pricing</h2>
    <p class="pricing__subtitle subtitle subtitle--wht">
      Most calendars are designed for teams. <span class="d-none d-lg-block">Slate is designed for freelancers</span>
    </p>
    <ul class="pricing__list">
      <li class="price pricing__item">
        <h3 class="price__title text-accent">Free</h3>
        <p class="price__subtitle">Organize across all apps by hand</p>
        <div class="price__container">
          <strong class="price__price text-accent">0</strong>
          <div class="price__info">
            <span class="price__currency text-accent">$</span>
            <span class="price__per-month">Per Month</span>
          </div>
        </div>
        <ul class="price__features">
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
        </ul>
        <a href="#" class="btn btn--primary price__action">Order Now</a>
      </li>

      <li class="price price--highlight pricing__item">
        <h3 class="price__title text-accent">Standard</h3>
        <p class="price__subtitle">Organize across all apps by hand</p>
        <div class="price__container">
          <strong class="price__price text-accent">10</strong>
          <div class="price__info">
            <span class="price__currency text-accent">$</span>
            <span class="price__per-month">Per Month</span>
          </div>
        </div>
        <ul class="price__features">
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
        </ul>
        <a href="#" class="btn btn--secondary price__action">Order Now</a>
      </li>

      <li class="price pricing__item">
        <h3 class="price__title text-accent">Business</h3>
        <p class="price__subtitle">Organize across all apps by hand</p>
        <div class="price__container">
          <strong class="price__price text-accent">99</strong>
          <div class="price__info">
            <span class="price__currency text-accent">$</span>
            <span class="price__per-month">Per Month</span>
          </div>
        </div>
        <ul class="price__features">
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
          <li class="price__feature">Pricing Feature</li>
        </ul>
        <a href="#" class="btn btn--primary price__action">Order Now</a>
      </li>
    </ul>
  </div>
</section>