<section class="promotion container">
  <div class="promotion__items">
    <h2 class="promotion__title title">Fastest way to organize</h2>
    <p class="promotion__subtitle subtitle">
      Most calendars are designed for teams.
      <span class="d-none d-lg-block">Slate is designed for freelancers</span>
    </p>
    <a href="#" class="btn btn--primary-accent promotion__action">Try For Free</a>
  </div>
  <img class="promotion__image" src="image/promotion-computer-img.svg" alt="Promotion image" />
</section>