<section id="subscribe" class="subscribe container">
  <div class="d-lg-none">
    <p class="subscribe__subtitle text-accent">At your fingertips</p>
    <h2 class="subscribe__title title">Newsletter</h2>
    <p class="subscribe__text subtitle">
      Most calendars are designed for teams.
      Slate is designed for freelancers
    </p>
  </div>
  <img class="subscribe__image" src="image/subscribe-img.svg" alt="Subscribe image" />
  <div class="subscribe__section">
    <div class="d-none d-lg-block">
      <p class="subscribe__subtitle text-accent">At your fingertips</p>
      <h2 class="subscribe__title title">Lightning fast prototyping</h2>
    </div>
    <p class="subscribe__form-subtitle text-accent">Subscribe to our Newsletter</p>
    <p class="subscribe__form-text text">Available exclusivery on Figmaland</p>
    <form class="form subscribe__form" action="" method="post">
      <input class="form-elm form-elm--input subscribe__input" type="text" placeholder="Your Email" name="email" />
      <button class="btn btn--primary subscribe__button" type="submit">
        Subscribe
      </button>
    </form>
  </div>
</section>