<section class="subscribe">
  <img
    class="subscribe__image"
    src="image/subscribe-img.png"
    alt="Subscribe image"
    width="677"
    height="514"
  />
  <p class="subscribe__subtitle">At your fingertips</p>
  <h2 class="subscribe__title">Lightning fast prototyping</h2>
  <p class="subscribe__subtitle">Subscribe to our Newsletter</p>
  <p class="subscribe__text">Available exclusivery on Figmaland</p>
  <form class="form subscribe__form" action="" method="post">
    <input
      class="form__input subscribe__input"
      type="text"
      placeholder="Your Email"
      name="email"
    />
    <button class="button-primary subscribe__button" type="submit">
      Subscribe
    </button>
  </form>
</section>
