<section id="templates" class="templates">
    <div class="templates__content container">
        <img src="image/templates-img/templates-figma-favorites.png" alt="Figma favorite templates"
            class="templates__content-icon">
        <div class="templates__content-text">
            <p class="templates__content-title title">Figma <span class="templates__content-changeable-title">favorites</span></p>
            <p class="templates__content-subtitle  subtitle">Search through some of our curated and most popular templates</p>
        </div>
    </div>
</section>

<section id="templates-catalog" class="templates-catalog container">
    <div class="templates-catalog__list-content"></div>
</section>