<section class="testimonials container">
  <h2 class="testimonials__title title">Testimonials</h2>
  <div class="testimonials__content">
    <img src="image/testimonials/testimonials-logo.png" alt="Testimonial logo" class="testimonials__logo" />
    <p class="testimonials__text">
      Most calendars are designed for teams. Slate is designed for freelancers
      who want a simple way to plan their schedule.
    </p>
    <div class="testimonial-author">
      <img src="image/testimonials/testimonial-client-mobile.png" alt="Testimonial author"
        class="testimonial-author__avatar d-lg-none" />
      <img src="image/testimonials/testimonial-client-desktop.png" alt="Testimonial author"
        class="testimonial-author__avatar d-none d-lg-block" />
      <div class="testimonial-author__info">
        <p class="testimonial-author__title">Organize across</p>
        <p class="testimonial-author__job-title">Ui designer</p>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn--primary-accent testimonials__action">More Testimonials</a>
</section>