<section class="testimonials">
  <h2 class="testimonials__title">Testimonials</h2>
  <div class="testimonials__content">
    <img
      src="image/testimonials/testimonials-logo.png"
      alt="Testimonial logo"
      class="testimonials__logo"
    />
    <p class="testimonials__text">
      Most calendars are designed for teams. Slate is designed for freelancers
      who want a simple way to plan their schedule.
    </p>
    <div class="testimonial-author">
      <img
        src="image/testimonials/testimonial-client.png"
        alt="Testimonial author"
        class="testimonial-author__avatar"
      />
      <p class="testimonal-author__title">Organize across</p>
      <p class="testimonal-author__job-title">Ui designer</p>
    </div>
  </div>
  <a href="#" class="button-primary testimonials__action">More Testimonials</a>
</section>
